<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>nexus != others</title>
  </head>

  <body>
    
    
    <!-- <input class="btn btn-primary" value="create model" onclick="create_model()" style="position:relative; top: 0px; left: 0px;"> -->
    
  <iframe id="iframeid" height ="500px" width="500px" style="position:relative; top: 0px; left: 0px;"> </iframe>
  <input class="btn btn-primary" value="click here" onclick='document.getElementById("iframeid").src="basic/mh4.html";'>
    
   
  </body>
</html> 
